extends layout

block append head
  link(rel="stylesheet", href="/stylesheets/chat.css")
  script(src="/javascripts/chat.js")

block content
  .container
    .row
      .col-md-6.center-block
        #feedback
        .panel.panel-primary
          .panel-heading
            .input-group
              input#user.form-control.input-sm(type='text', placeholder='Type your nickname...')
              span.input-group-btn
                button#signin.btn.btn-success.btn-sm
                  | Sign in
              span.input-group-btn
                button#signout.btn.btn-danger.btn-sm
                  | Sign out
          .panel-body
            #chat.chat
          .panel-footer
            .form-inline
              select#users.form-control.input-sm
                option(value="all") All
              .pull-right
                .input-group
                  input#message.form-control.input-sm(type='text', placeholder='Type your message here...')
                  span.input-group-btn
                    button#send.btn.btn-warning.btn-sm
                      | Send