#feedback {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    font-family: monospace;
}

#chat {
  white-space: pre;
  overflow-y: auto;
  overflow-x: none;
  width: 700px;
  height: 300px;
}

#chat p {
    font-size: 'verdana, helvetica';
    font-size: 12px;
    padding: 2px 5px;
    margin: 2px 5px 2px 0;
}

#chat p.private {
    background-color: #eee;
}

#chat p.notify {
    background-color: #aeffca;    
}

#chat p.exit {
    background-color: #feedba;
}

.shadow {
  box-shadow: 2px 2px 4px 1px #000000;
  padding-top: 10px;
  padding-right: 1px;
  padding-bottom: 10px;
  padding-left: 15px;
}